@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// Media Query Manager

/*
-- Devices
0px - 600px : Phone
600px - 1080px : Tablet Portrait
1080px - 1280px : Tablet Landscape

1280px - 1800px : Our Base Styles

1800px+ : Big Desktop

-- Media Queries
<= 600px : phone
<= 1080px : tab-port
<= 1200px : tab-land

>= 1800px : big-desk
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      // is <= 600px?
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 67.5em) {
      // is <= 1080px?
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 80em) {
      // is <= 1280px?
      @content;
    }
  }
  @if $breakpoint == big-desk {
    @media only screen and (min-width: 112.5em) {
      // is >= 1800px?
      @content;
    }
  }
}
